.listContainer{
    margin-top: 1rem;
    background-color:$containerBackgroundColor;
    padding: 0.5rem;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    padding: 0.75rem;
    border: 1px solid black;
    border-radius: 10px;
    min-height: 60vh;
    .listTitle{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    button{
        margin: 0;
        margin-bottom: 0.25rem;
        font-size: 1rem;
        background-color: $clearButtonColor;
    }
    button:hover,button:focus{
        box-shadow: $boxShadow;
    }
    input[type="checkbox"]{
        min-height: 48px;
        min-width: 48px;
        @include mp(768px){
            width: 60px;
        height: 60px;
        }
    }
    .item:hover,.item:focus{
        text-decoration: underline;
    }
    .item{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0.25rem;
    }
    label{
        font-size: 1.25rem;
    }
}

